<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table style="width: 50%; max-width: 800px;"cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td>
                    <span style="padding: 30px 110px 30px 60px;border: 1px solid #000;border-left: none;display: block;">
                        <h1 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 42px;">Sumit Paul</h1>
                        <p style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;             color: #1e1e1e;padding-top: 10px;font-size: 14px;">Front End Developer</p>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>        

    <table style="width: 100%; max-width: 800px;"cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td style="width: 360px;border-right: 1px solid #000;padding: 30px;">
                    <h4 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 5px;border-bottom: 1px solid #000;">Personal Details</h4>

                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: left;padding-bottom: 15px;padding-top: 30px; width: 120px;white-space: nowrap;">Father's Name :</h5>
                            <h6 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: right;padding-bottom: 15px;padding-top: 30px;width: calc(100% - 120px);text-align: right;">Sudeb Paul</h6>
                        </span>
                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: left;padding-bottom: 15px;width: 120px;white-space: nowrap;">Date of birth :</h5>
                            <h6 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: right;padding-bottom: 15px;width: calc(100% - 120px);text-align: right;">30.03.1993</h6>
                        </span>
                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: left;padding-bottom: 15px;width: 120px;white-space: nowrap;">Language :</h5>
                            <h6 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: right;padding-bottom: 15px;width: calc(100% - 120px);text-align: right;">Bengali, Hindi, English</h6>
                        </span>
                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: left;padding-bottom: 15px;width: 120px;white-space: nowrap;">Phone :</h5>
                            <h6 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: right;padding-bottom: 15px;width: calc(100% - 120px);text-align: right;">+91 9804372258</h6>
                        </span>
                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: left;padding-bottom: 15px;width: 120px;white-space: nowrap;">Gmail :</h5>
                            <h6 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: right;padding-bottom: 15px;width: calc(100% - 120px);text-align: right;">sumitpaul900@gmail.com</h6>
                        </span>
                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: left;padding-bottom: 37px;width: 120px;white-space: nowrap;">Hobbies :</h5>
                            <h6 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: right;width: calc(100% - 120px);padding-bottom: 15px; text-align: right;line-height: 21px;">Playing Cricket, Listening Music, Photography</h6>
                        </span>
                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 55px;white-space: nowrap;float: left;width: 120px;">Address :</h5>
                            <h6 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 16px;padding-bottom: 21px;float: right;width: calc(100% - 120px);line-height: 21px;">Ganti paul para, P.O - Ganganagar, P.S - Narayanpur, Dist - 24pgs (N), Kol - 132 </h6>
                        </span>


                    <h4 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 5px;border-bottom: 1px solid #000;display: block;">Education</h4>

                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 15px;padding-top: 30px; white-space: nowrap;">Passed M.P in 2008</h5>
                        </span>
                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 15px;white-space: nowrap;">Passed H.S in 2010</h5>
                        </span>
                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 15px;white-space: nowrap;">Passed B.A in 2013</h5>
                        </span>
                        <span>
                            <h5 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;float: left;padding-bottom: 15px;white-space: nowrap;">Passed M.A in 2016</h5>
                        </span>
                </td>
                <td style="width: calc(100% - 360px);vertical-align: top;padding: 30px;">
                    <h4 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 5px;border-bottom: 1px solid #000;display: block;">Career Objective</h4>

                    <p>I am in search of a professional environment, where lots of opportunities are in waiting. My work exprience encompasses in-depth UI programming concepts with out-of-thebox graphic designing.</p>

                    <h4 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 5px;border-bottom: 1px solid #000;display: block;">Education</h4>

                    <h4 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 5px;border-bottom: 1px solid #000;display: block;">Education</h4>

                    <h4 style="padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 17px;padding-bottom: 5px;border-bottom: 1px solid #000;display: block;">Declaration</h4>

                    <p>I here by declare that above information is true, correct and complete to the best of my knowledge and belife.</p>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>